body {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-family: sans-serif;
    color: white;
}

#start {
    width: 960px;
    height: 600px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start #left
{
    width: 70%;
}

#start #left h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
}

#start #left #name {
    margin: auto;
    display: block;
    font-family: 'sans-serif';
    font-size: 1.25rem;
    padding: 1rem;
    width: 60%;
    border: none;
    text-align: center;
}

#start #left button {
    border: none;
    
    font-family: 'sans-serif';
    padding: 1rem 2rem;
    background-color: #facc15;
    margin: auto;
    display: block;
    margin-top: 1rem;
    width: 65%;
    font-size: 1.25rem;
}

#start #left button:hover {
    background-color: #fde047;
    cursor: pointer;
}

#start #right img {
    width: 100%;
    margin-top: 45%;
}

#instruction {
    margin-top: 3rem;
    margin-left: 4rem;
}

#game-ui {
    display: none;
    width: 960px;
    height: 600px;
    position: absolute;
}

#game-ui .content {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    margin: 1rem;
    width: 200px;
}

#game-over {
    display: none;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#content {
    background-color: #252525;
    color: white;
    width: 600px;
    height: 400px;
    padding: 0 4rem;
    box-sizing: border-box;
}

#content h1 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

#content h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

#content button {
    border: none;
    background-color: #facc15;
    font-family: 'sans-serif';
    font-size: 1.25rem;
    padding: 10px;
    cursor: pointer;
}

#content button:hover {
    background-color: #fde047;
}